body {
    min-height: 100vh;
    min-height: -webkit-fill-available;
}

html {
    height: -webkit-fill-available;
}

main {
    display: flex;
    flex-wrap: nowrap;
    height: 100vh;
    overflow-x: auto;
    overflow-y: hidden;
}

.sidebar {
    width: 270px;
    /* align-self: stretch; */
}

.toggle-button {
    position: relative;
    padding: 0;
    text-align: center;
    vertical-align: middle;
    width: 1.5rem;
    right: 2.5rem;
    margin-right: -1.5rem;
    align-self: flex-start;
    flex-shrink: 0;
}